.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .message {
    font-size: 2rem;
    font-weight: bold;
    height: 400px;
    line-height: 400px;
  }
}
